/* Header Styles */
.headernav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  /* Logo Styles */
  .logo {
    margin-left: 2.5rem;
    border: 2px solid #fbbf24; 
  }
  
  /* Navigation Links */
  .navlinks {
    display: flex;
  }
  
  .navitem {
    margin-right: 4rem;
  }
  
  .navlink {
    text-decoration: none;
    color: white;
  }
  
  .navlink:hover {
    color: #fbbf24; 
  }
  
  /* Button Styles */
  .joinbutton {
    padding: 0.75rem;
    background-color: #fbbf24; 
    border-radius: 0.5rem;
    transition: border 0.2s;
  }
  
  .joinbutton:hover {
    border-left: 4px solid #f59e0b; 
  }
  
  .joinbutton:active {
    transform: scale(0.75);
  }
  




/* responsive */

  @media (max-width: 760px){
    .headernav {
       height: 200px; 
    
       width: 100%;
       padding-left: 0;
       flex-direction: column;
       text-align: center;
       align-items: center;
      position: static;
      background-color: rgb(40, 70, 100);
    }
    .navlinks{
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 6px;
      
    }
     

  .navitem{
 
    font-size: 14px;
  }
    
   
    .logo {
      height: 30px;
     width: 30px;
    margin-left: 0;
    }
   
    .navitem {
      margin-right:  10px ;
      margin-left: 0;
    }
    .joinbutton{
      padding: 5px;
      font-size: 10px;
    
    }

  
  }
