.about{
    
    padding: 44px;
    background-color:  #d1d5db;
}
.h2{
    
    text-align: center;
    font-size:30px ;
    font-weight: bold;
}
.imgdiv, .paraimgdiv, .divP{
    display: flex;

}
.imgGymClass{
    
    border-left-width: 4px;
    border-right-width: 4px;

}
.h3{
    position: absolute;
    margin: 208px;
    font-size:36px;
    color: #FFD200;
    font-weight:bold
}
.GymTrainer{
    border-left-width: 2px;
    border-right-width: 2px;
}
.h3Trainer{
    position: absolute;
    color: #FFD200;
    font-size: 38px;
    font-weight: bold;
    margin: 208px;
    margin-left: 700px;
}






.paragraph{
    margin-left: 48px;  
    font-size: 20px;    
    padding: 48px;     
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

.communityHeading, .AmenitiesHeading{
    margin: 40px 0 12px 700px;
    font-size: 36px;
    font-weight: bold;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

}


.personalTrainingHeading, .EquipmentHeading{
    margin: 40px 0 12px 40px;
    font-size: 36px;            
    margin-bottom: 12px;         
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;    
    font-weight: bold; 
}

.communityImg, .amenitiesImg{
    margin-left: 48px;           
    border-radius: 4px;          
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); 
}



.personalTrainingImg,.EquipmentImg{
    margin-right: 48px;               
    border-radius: 4px;              
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    
    
}





        /* Responsive */



        @media (max-width:360px){
          .h3{
            margin: 50px;
            font-size: 30px;

          }
            .h3Trainer{
                    margin-left: 70px;
                    font-size: 30px;
                    
            }
            .imgdiv{
                flex-direction: column-reverse;
            }
            .paragraph{
                font-size: 15px;
                padding: 20px;
            }
            .divP, .paraimgdiv{
                display: block;
            }            
            .personalTrainingImg, .EquipmentImg{
              margin: 10px 0 0 10px;               
             width: 240px;
             height: 300px;
            }
         
         .personalTrainingHeading, .EquipmentHeading{
            float: right;
            font-size: 30px;
            margin-right: 15px;
            
         }
         .communityHeading, .AmenitiesHeading{
            margin: 10px 0 10px 20px;
         }
         .communityImg, .amenitiesImg{
            width: 240px;
            height: 300px;
            margin-left: 10px;
         }
         
        }

